# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# Ignore build or dist folders (commonly used for build outputs)
build/
dist/

# Ignore environment files (if any)
.env
.env.local

# Ignore log files
*.log

# testing
/coverage




